<div>
  <h2 class="text-center">About the Stock Trading Backtest Tool</h2>

  <p>
    The stock trading backtest application is a client/server application with a AngularJS single page web application on the
    client side and a Java Spring REST application on the server side.
  </p>
  <p>
    A listing of each of the technologies used in the development of this application is shown below.
  </p>

  <h3 class="text-center">Client Side Application</h3>
    <div class="table-responsive">
      <table class="table table-striped table-bordered table-hover table-condensed">
        <thead>
          <tr>
            <th width="20%">Technology</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><a href="https://github.com/pottersc/backtest-client" target="_blank">Backtest Client Side Source Code</a> </td>
            <td>Custom code developed for the backtesting client side application that is version controlled on GitHub</td>
          </tr>
          <tr>
            <td><a href="http://www.w3schools.com/js/" target="_blank">Javascript</a></td>
            <td>Dynamically typed object oriented language that is supported in all common web browsers</td>
          </tr>
          <tr>
            <td><a href="https://angularjs.org/" target="_blank">AngularJS</a></td>
            <td>Javascript MV* framework that makes building dynamic single page web applications much easier</td>
          </tr>
          <tr>
            <td><a href="http://www.w3schools.com/html" target="_blank">HTML</a></td>
            <td>Markup language for describing web documents</td>
          </tr>
          <tr>
            <td><a href="http://www.w3schools.com/css" target="_blank">CSS</a></td>
            <td>Cascading Style Sheets is used to describe how (color, format, spacing, size, etc)HTML elements are to be displayed on the screen</td>
          </tr>
          <tr>
            <td><a href="http://getbootstrap.com/" target="_blank">Bootstrap</a></td>
            <td>The most popular HTML, CSS, and JavaScript framework for developing responsive, mobile-first web sites</td>
          </tr>
          <tr>
            <td><a href="http://underscorejs.org/" target="_blank">Underscore.js</a></td>
            <td>A javascript library that provides many useful programming utilities</td>
          </tr>
          <tr>
            <td><a href="http://yeoman.io/" target="_blank">Yeoman</a></td>
            <td>A great scaffolding tool that saves a lot of time when starting a new web app </td>
          </tr>
          <tr>
            <td><a href="http://bower.io/" target="_blank">Bower</a></td>
            <td>Package manager tool that automates the process of fetching and installing third party packages</td>
          </tr>
          <tr>
            <td><a href="http://gruntjs.com/" target="_blank">Grunt</a></td>
            <td>Task runner that automates things like building, testing, and minification</td>
          </tr>
          <tr>
            <td><a href="https://www.jetbrains.com/webstorm/" target="_blank">WebStorm</a></td>
            <td>Great Javascript IDE with many features that make web development much easier</td>
          </tr>
          <tr>
            <td><a href="" target="_blank"></a></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>

  <h3 class="text-center">Server Side Application</h3>
  <div class="table-responsive">
    <table class="table table-striped table-bordered table-hover table-condensed">
      <thead>
      <tr>
        <th width="20%">Technology</th>
        <th>Description</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td><a href="https://github.com/pottersc/backtest-service-spring-rest" target="_blank">Backtest Server Side Source Code</a></td>
        <td>Custom code developed for the backtesting server side application that is version controlled on GitHub</td>
      </tr>
      <tr>
        <td><a href="https://en.wikipedia.org/wiki/Java_(programming_language)" target="_blank">Java 8</a></td>
        <td>Powerful object oriented language that uses a virtual machine to enable 'write once run anywhere' capability.</td>
      </tr>
      <tr>
        <td><a href="http://projects.spring.io/spring-framework/" target="_blank">Spring</a></td>
        <td>Framework that handles all of the "plumbing" for assembling a Java project.  In addition to providing dependency injection
        this framework support many <a href="https://spring.io/projects" target="_blank">support projects</a>
          , some of which are used in this application and cited below.</td>
      </tr>
      <tr>
        <td><a href="https://spring.io/guides/gs/spring-boot/" target="_blank">Spring Boot</a></td>
        <td>Greatly simplifies the creation of a Spring application by automatically handling almost all configuration requirements.</td>
      </tr>
      <tr>
        <td><a href="https://spring.io/guides/gs/rest-service/" target="_blank">Spring REST</a></td>
        <td>Spring REST provides support for making a stateless web service to better create distributed systems</td>
      </tr>
      <tr>
        <td><a href="http://www.json.org/" target="_blank">JSON</a></td>
        <td>(JavaScript Object Notation) is a name/value data-interchange format that is used to transfer information from server to clients.</td>
      </tr>
      <tr>
        <td><a href="http://www.tutorialspoint.com/jackson/" target="_blank">Jackson</a></td>
        <td>Mostly runs behind the scenes to automatically convert JSON to Java objects and vice versa. </td>
      </tr>
      <tr>
        <td><a href="https://maven.apache.org/" target="_blank">Maven</a></td>
        <td>Manages the projects dependencies and builds the project</td>
      </tr>
      <tr>
        <td><a href="http://financequotes-api.com/" target="_blank">YahooFinanceAPI</a></td>
        <td>All of the stock trading code was custom built for this application, but you have to get the historical quote data from somewhere.
          Yahoo Finance API is a web service that provides historical quote data upon request</td>
      </tr>
      <tr>
        <td><a href="http://www.yaml.org/start.html" target="_blank">YAML</a></td>
        <td>Used to more easily configure development and production profiles</td>
      </tr>
      <tr>
        <td><a href="http://tomcat.apache.org/" target="_blank">Tomcat</a></td>
        <td>Open source web server which pretty much runs behind the scenes with minimal configuration thanks to Spring Boot</td>
      </tr>
      <tr>
        <td><a href="http://junit.org/" target="_blank">JUnit</a></td>
        <td>Java unit testing framework</td>
      </tr>
      <tr>
        <td><a href="http://mockito.org/" target="_blank">Mockito</a></td>
        <td>Mocking framework for unit tests in Java</td>
      </tr>
      <tr>
        <td><a href="https://spring.io/tools" target="_blank">Spring Tools Suite</a></td>
        <td>Eclipse based IDE that is a must have for developing Java Spring based applications.</td>
      </tr>
      </tbody>
    </table>
  </div>


  <h3 class="text-center">Cloud Deployment</h3>
  <div class="table-responsive">
    <table class="table table-striped table-bordered table-hover table-condensed">
      <thead>
        <tr>
          <th width="20%">Technology</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><a href="https://www.openshift.com/" target="_blank">Openshift</a></td>
          <td>Openshift offers a free version of their PaaS service that was more than capable of handling the cloud deployment for the Backtest application </td>
        </tr>
        <tr>
          <td><a href="http://www.putty.org/" target="_blank">Putty</a></td>
          <td>Free ssh client that is useful for connecting to servers like Openshift</td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
