<!--This directive needs to be enhanced to support operand values that can optionally be floats instead of just integers  -->
  <span class="form-inline">
    <select ng-model="operand.strategyName" ng-options="strategy.name as strategy.label for strategy in strategyChoices" class="form-control"></select>
    {{getStrategy(operand.strategyName, strategyChoices).value1Label }}
    <input type="text" ng-model="operand.value1" size="3" ng-show="getStrategy(operand.strategyName, strategyChoices).value1Label" min="0" required ng-pattern="/^[0-9]*$/" class="form-control"/>
    {{getStrategy(operand.strategyName, strategyChoices).value2Label }}
    <input ng-model="operand.value2"  size="3" ng-show="getStrategy(operand.strategyName, strategyChoices).value2Label" class="form-control"/>
  </span>
